html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.col-size-1 {
  flex-basis: 8.3333333333%;
}

.col-size-2 {
  flex-basis: 16.6666666667%;
}

.col-size-3 {
  flex-basis: 25%;
}

.col-size-4 {
  flex-basis: 33.3333333333%;
}

.col-size-5 {
  flex-basis: 41.6666666667%;
}

.col-size-6 {
  flex-basis: 50%;
}

.col-size-7 {
  flex-basis: 58.3333333333%;
}

.col-size-8 {
  flex-basis: 66.6666666667%;
}

.col-size-9 {
  flex-basis: 75%;
}

.col-size-10 {
  flex-basis: 83.3333333333%;
}

.col-size-11 {
  flex-basis: 91.6666666667%;
}

.col-size-12 {
  flex-basis: 100%;
}

.subscribe-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  margin: 11px;
  font-size: 13px;
  color: white;
  background: #00aef3;
  border-radius: 4%;
}

.subscribe-box:last-child {
  background: #8994e3;
}

.artist-info-1 {
  background-image: url("assets/imgs/artist-info-1.jpg");
}

.artist-info-2 {
  background-image: url("assets/imgs/artist-info-2.jpg");
}

.artist-info-3 {
  background-image: url("assets/imgs/artist-info-3.jpg");
}

.artist-info-4 {
  background-image: url("assets/imgs/artist-info-4.jpg");
}

.artist-info-5 {
  background-image: url("assets/imgs/artist-info-5.jpg");
}

.artist-info-6 {
  background-image: url("assets/imgs/artist-info-6.jpg");
}

.artist-info-7 {
  background-image: url("assets/imgs/artist-info-7.jpg");
}

.artist-info-8 {
  background-image: url("assets/imgs/artist-info-8.jpg");
}

.artist-info-9 {
  background-image: url("assets/imgs/artist-info-9.jpg");
}

.artist-info-10 {
  background-image: url("assets/imgs/artist-info-10.jpg");
}

.artist-info-11 {
  background-image: url("assets/imgs/artist-info-11.jpg");
}

.artist-info-12 {
  background-image: url("assets/imgs/artist-info-12.jpg");
}

.artist-info-13 {
  background-image: url("assets/imgs/artist-info-13.jpg");
}

.artist-info-14 {
  background-image: url("assets/imgs/artist-info-14.jpg");
}

.artist-info-15 {
  background-image: url("assets/imgs/artist-info-15.jpg");
}

.artist-info-16 {
  background-image: url("assets/imgs/artist-info-16.jpg");
}

.artist-box {
  display: flex;
  height: 231px;
  margin: 10px;
}

.artist-box .artist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 0 0 10px 7px;
  border-radius: 4%;
}

.artist-box .artist-info h2 {
  text-decoration: underline;
  font-size: 18px;
}

.artist-box .artist-info span {
  font-size: 25px;
}

ul {
  width: 100%;
  list-style: none;
  display: inline-flex;
  background: black;
}

ul li {
  color: black !important;
  flex: 1;
  font-size: 16px;
  padding: 5px 9px;
}

ul li:last-child {
  flex: 5;
}

@media (max-width: 1024px) and (min-width: 500px) {
  .top {
    width: 100%;
    left: 0;
    right: 0;
  }

  .col-size-2 {
    flex-basis: 30% !important;
  }

  .front-products {
    margin-top: 25%;
  }

  footer {
    display: none;
  }
}

@media (max-width: 500px) {
  .top {
    width: 100%;
    left: 0;
    right: 0;
  }

  .logo-row {
    display: none;
  }

  .col-size-2 {
    flex-basis: 33% !important;
  }

  .front-products {
    margin-top: 25%;
  }

  footer {
    display: none;
  }
}
