@import 'reset',
'mixins';
$col: 12;
$screen-lg: 1024px;
$screen-md: 720ox;
$screen-md: 500px;
$button-blue: #00aef3;
$button-violet: #8994e3;
$font-size-buttons: 13px;
$breakpoints: ( "large": 1000px, "medium": 750px, "small": 500px);
@for $i from 1 through $col {
    .col-size-#{$i} {
        flex-basis: #{100 * $i / 12}+"%";
    }
}

.subscribe-box {
    @include flex-centered();
    @include button-properties();
    border-radius: 4%;
}

.subscribe-box:last-child {
    background: $button-violet;
}

@for $i from 1 through 16 {
    .artist-info-#{$i} {
        background-image: url("assets/imgs/artist-info-"+#{$i}+".jpg");
    }
}

.artist-box {
    display: flex;
    height: 231px;
    margin: 10px;
    .artist-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        padding: 0 0 10px 7px;
        border-radius: 4%;
        h2 {
            text-decoration: underline;
            font-size: 18px;
        }
        span {
            font-size: 25px;
        }
    }
}

ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
    background: black;
    li {
        color: black !important;
        flex: 1;
        font-size: 16px;
        padding: 5px 9px;
    }
    li:last-child {
        flex: 5;
    }
}

@media (max-width: $screen-lg) and (min-width: $screen-md) {
    .top {
        width: 100%;
        left: 0;
        right: 0;
    }
    .col-size-2 {
        flex-basis: 30% !important;
    }
    .front-products {
        margin-top: 25%;
    }
    footer {
        display: none;
    }
}

@media (max-width: $screen-md) {
    .top {
        width: 100%;
        left: 0;
        right: 0;
    }
    .logo-row {
        display: none;
    }
    .col-size-2 {
        flex-basis: 33% !important;
    }
    .front-products {
        margin-top: 25%;
    }
    footer {
        display: none;
    }
}